// Typography
.uppercase{
  text-transform: uppercase;
}
.lowercase{
  text-transform: lowercase;
}
.capitalize{
  text-transform: capitalize;
}
// Text Alignment
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.underlined{
  text-decoration: underline;
}
.bold-shadow{
  text-shadow: 1px 0 0 currentColor
}
.bold{
  @include bold
}
.font-medium{
  @include fontMedium
}
.semi-bold{
  @include semiBold
}
.normal{
  @include normal
}
.italic{
  font-style: italic;
}

.no-wrap {
  text-wrap: nowrap;
}

h1 {
  font-size: rem-calc(64px);
}

h2 {
  font-size: rem-calc(40px);
}

@for $i from 1 through $gridCount*2{
  .fs-#{($i*2)+2}{
    font-size: rem-calc(($i*2)+2) !important;  
  }
}


@include respond-to(xlarge) {
  @for $i from 0 through $gridCount*2 {
    .fs-xlarge-#{($i*2)+2} {
      font-size: rem-calc(($i*2)+2) !important;
    }
  }
}

@include respond-to(large) {
  @for $i from 0 through $gridCount*2 {
    .fs-large-#{($i*2)+2} {
      font-size: rem-calc(($i*2)+2) !important;
    }
  }
}

@include respond-to(medium) {
  @for $i from 0 through $gridCount*2 {
    .fs-medium-#{($i*2)+2} {
      font-size: rem-calc(($i*2)+2) !important;
    }
  }
}

@include respond-to(small) {
  @for $i from 0 through $gridCount*2 {
    .fs-small-#{($i*2)+2} {
      font-size: rem-calc(($i*2)+2) !important;
    }
  }
}

//line height

@for $i from 1 through $gridCount*2{
  .lh-#{($i*2)+2}{
    line-height: rem-calc(($i*2)+2) !important;  
  }
}

@include respond-to(xlarge) {
  @for $i from 0 through $gridCount*2 {
    .lh-xlarge-#{($i*2)+2} {
      line-height: rem-calc(($i*2)+2) !important;
    }
  }
}

@include respond-to(large) {
  @for $i from 0 through $gridCount*2 {
    .lh-large-#{($i*2)+2} {
      line-height: rem-calc(($i*2)+2) !important;
    }
  }
}

@include respond-to(medium) {
  @for $i from 0 through $gridCount*2 {
    .lh-medium-#{($i*2)+2} {
      line-height: rem-calc(($i*2)+2) !important;
    }
  }
}

@include respond-to(small) {
  @for $i from 0 through $gridCount*2 {
    .lh-small-#{($i*2)+2} {
      line-height: rem-calc(($i*2)+2) !important;
    }
  }
}


@for $i from 1 through $gridCount*2{
  .gap-#{($i*2)+2}{
    gap: rem-calc(($i*2)+2) !important;  
  }
}

//width
$breakpoints: (
  'large': 992px,
  'medium': 768px,
  'small': 576px,
  'xsmall': 420px,
);

@for $i from 1 through 100 {
  .w-#{$i} {
    width: percentage($i / 100);
  }
}


@each $breakpoint, $value in $breakpoints {
  @media (max-width: $value) {
    @for $i from 1 through 100 {
      .w-#{$breakpoint}-#{$i} {
        width: percentage($i / 100) !important;
      }
    }
  }
}

@media screen and (max-width: 525px) {
  h1 {
    font-size: rem-calc(42px);
  }
  
  h2 {
    font-size: rem-calc(38px);
  }
}