.flex-box{
  @include flex;
  align-items: center;
  width: 100%;
  &.auto{
    width: auto;
  }
}
.flex-column{
  @include flex;
  flex-direction: column;
  width: 100%;
}
.flex-grow-shrink{
  @include flex-grow-shrink;
}
.flex-bottom{
  @include flex;
  align-items: baseline;
}
.flex-start{
  @include flex;
  align-items: flex-start;
}
.flex-end{
  @include flex;
  align-items: flex-end;
}
.flex-stretch{
  @include flex;
  align-items: stretch;
}
.flex-center{
  @include flex;
  align-items: center;
}
.flex-between{
  @include flex;
  justify-content: space-between ;
}
.flex-evenly{
  @include flex;
  justify-content: space-evenly ;
}
.spacer{
  @include spacer;
}
.flex-justify-center {
  @include flex;
  justify-content: center;
}
.flex-justify-end {
  @include flex;
  justify-content: end;
}
.flex-wrap {
  @include flex;
  flex-wrap: wrap;
}
.flex-self-center {
  @include flex;
  justify-self: center;
}
.flex-self-end {
  @include flex;
  justify-self: end;
}