//Variables
$gridCount: 30;
$width: 100 / $gridCount;
$dividerHeight: 16;
$rem-base: 16px !default;
$break-xsmall: 420px;
$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
$break-xlarge: 1200px;

$xl-min: 1200px;
$lg-min: 992px;
$lg-max: 1199.98px;
$md-min: 768px;
$md-max: 991.98px;
$sm-min: 576px;
$sm-max: 767.98px;
$xs-max: 575.98px;

//range slider
$height: 30px;
$thumb-height: 18px;
$track-height: 4px;


